services:
  # Веб-приложение на FastAPI
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile.fastapi
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./app:/code
    env_file: ".env"
    depends_on:
      - ollama
      - db

  # Сервис с локальной LLM-моделью
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: always
    volumes:
      - ./ollama:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
  
  # PostgreSQL база данных для хранения истории суммирований
  db:
    image: postgres:alpine
    restart: always
    shm_size: 128mb
    env_file: ".env"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
  
  # Веб-интерфейс для управления и просмотра содержимого PostgreSQL
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080