services:

  fastapi:
    build:
      context: .
      dockerfile: Dockerfile.fastapi
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./app:/code
    env_file: ".env"
    depends_on:
      - ollama
      - db

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: always
    volumes:
      - ./ollama:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
  
  db:
    image: postgres:alpine
    restart: always
    shm_size: 128mb
    env_file: ".env"

    volumes:
      - ./pgdata:/var/lib/postgresql/data
    
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080