services:

  fastapi:
    build:
      context: .
      dockerfile: Dockerfile.fastapi
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./app:/code
    depends_on:
      - ollama

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: always
    volumes:
      - ./ollama:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
  # database:
  #   image: postgres:alpine
  #   env_file:
  #     - .env